@model AllPrackticsUsingCore.Models.BedInformation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BedInformation</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select id="ddstudent" asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId">
                    <option>select student</option>
                </select>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EnrolementDate" class="control-label"></label>
                        <input asp-for="EnrolementDate" class="form-control" />
                        <span asp-validation-for="EnrolementDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rent" class="control-label"></label>
                        <input asp-for="Rent" class="form-control" />
                        <span asp-validation-for="Rent" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input id="stuName" asp-for="Name" class="form-control" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Shift" class="control-label"></label>
                        <input id="stuShift" asp-for="Shift" class="form-control" readonly />
                        <span asp-validation-for="Shift" class="text-danger"></span>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Partial" /> @Html.DisplayNameFor(model => model.Partial)
                        </label>
                    </div>

                </div>
            </div>
            
            

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddstudent").chosen({ no_results_text: "Oops, nothing found!" }); 

        $("#ddstudent").change(function () {
            var idd = document.getElementById("ddstudent").value;
            alert(idd);
            $.ajax({
                url: '@Url.Action("GetStudent","Students")',
                type: "POST",
                data: { id: $("#ddstudent").value},
                contentType: 'application/json; charset=utf-8',
                dataType: 'JSON',
                success: function (res) {
                    console.log(res);
                    

                },
                error: function (ex) {

                }


                
            });
        });

    });

    function updatestudent() {

        var categorySelected = document.getElementById("ddstudent").value;
        let name = $('#ddstudent option:selected').text();
        let shift = $('#ddstudent option:selected').val();
        $('#stuName').val(name);
        $('#stuShift').val(shift);



    }


    $('#ddstudent').change(function () {

        updatestudent();
    });


</script>

}

   
